@import 'variables.scss';

body {
  font-family: $font-stack;
  font-size: 25px;
  color: black;
  background-color: #fafafa;
  font-weight: 300;
  -webkit-font-smoothing: antialiased;
  text-align: center
  
}

.form{
	margin:0 auto;
}

.cursor{
	cursor: $cursor-pointer;
}

.text-styling{
	font-family: Avantgarde, sans-serif;
	letter-spacing: 2px;
	color: black;
	text-transform: uppercase;
}

@mixin font-size($size) {
  font-size: $size;
}

@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
      -ms-border-radius: $radius;
          border-radius: $radius;
}


.homeScrnTitle { 
	@include font-size(28px); 
	border-top: 1px solid black;
	border-bottom: 1px solid black;
	padding: 10px;
}

.menu-styling{
	list-style: $menu-styling-none;
}

nav {
  ul {
    margin-left: 2.5rem;
    padding: 0;
    list-style: none;
  }

  li { display: inline-block; }

  a {
  	@include font-size(14px);
  	@extend .text-styling;
    display: block;
    padding: 6px 12px;
    text-decoration: none;
  }
  
  a:hover{
  	color: $dark-red;
  }
}

.myButton {
	-moz-box-shadow: 3px 4px 0px 0px #294d6b;
	-webkit-box-shadow: 3px 4px 0px 0px #294d6b;
	box-shadow: 3px 4px 0px 0px #294d6b;
	background-color:rgba(83, 223, 232, 0.95);
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	border-radius:5px;
	border:1px solid #495159;
	display:inline-block;
	cursor:pointer;
	color: black;
	font-size:21px;
	letter-spacing: 1px;
	padding:11px 32px;
	text-decoration:none;
	text-shadow:0px 1px 0px #528ecc;
}

.myButton:hover {
	background-color:#14a3c7;
}

.myButton:active {
	position:relative;
	top:1px;
}



